* {
    margin: 0
}

header {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, rgba(0, 38, 255, 1), rgba(255,0,0,1));
}

header h1 {
   text-align: center;
}

.search form label {
    font-size: large;
}

.search-button {
    background: none;
	border: none;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
    background-color: blueviolet;
    color: white;
    border-radius: 10px
}